.creditos {
    display: flex;
    justify-content: center;

    input {
<<<<<<< HEAD
        background-color: $primario;
        border: none;
        width: 150px;
        height: 30px;
=======
        background-color: none;
        border: none;
        width: 120px;
>>>>>>> 211fdeca81d154feac5e99895ba97a70f3e1e5f8
    }

    .extremos {
        background-color: #808a5f;
        border-radius: 5px;
        padding: 6px;
<<<<<<< HEAD
        width: 150px;
=======
>>>>>>> 211fdeca81d154feac5e99895ba97a70f3e1e5f8
    }

    .tabla_horario {
        border-spacing: 5px;
    }
}