.creditos {
    .container_tabla {
        overflow: auto;
    }

    .tabla_creditos {
        width: 900px;
        table-layout: fixed;
		border-spacing: 10px;
		border-collapse: separate;
    }

    .contenido, .input_creditosAcademicos {
        @include caja(168px, 40px); 
    }

    .input_creditosAcademicos {
        @include estilo($primario, $secundario); 
    }

    .extremos {
        height: 40px; 
        overflow: auto; 
        @include estilo(#959e77, $secundario); 

        .contenido {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 5px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .creditos {
        .tabla_creditos {
            font-size: 0.8rem;
            width: 700px;
            border-spacing: 10px;
        }

        .contenido, .input_creditosAcademicos {
            @include caja(130px, 35px); 
        }
    }
}