.footer {
    display: flex;
    justify-content: space-evenly;

    color: black;
<<<<<<< HEAD
    font-size: 1.1rem;
    background-color: $secundario; 

    margin-top: 20px;
    padding: 20px;
=======
    background-color: $secundario; 

    margin-top: 20px;
    padding-top: 20px;
>>>>>>> 211fdeca81d154feac5e99895ba97a70f3e1e5f8

    a {
        color: black;
    }

    ul {
        list-style: none;
    }
}

.item_lista_footer:hover {
    color: white;
    a {
        color: white;
    }
}
