.container_tabla {
    width: 1140px;
    overflow: auto;
}

.container_tabla::-webkit-scrollbar {
    display: none;
}

.tabla_horario {
    table-layout: fixed;
    border-collapse: separate;
    overflow-y: scroll;
    border-spacing: 10px;
}

th {
    width: 20%;
    text-align: center;
}

tbody td {
    text-align: center;
}

.contenido {
    @include caja; 
    @include materia($opcion4, $b-opcion4); 
    border-radius: 5px;
    overflow: auto;
}

tr:nth-child(even){
    display: none;
}

.contenido::-webkit-scrollbar {
    display: none;
}

.extremos_tabla {
    position: sticky;
}

th {
    span {
        display: inline-block; 
        padding: 10px; 
        width: 100px; 

        text-align: center;
        border: 1px solid $secundario;
        background-color: #808a5f;
        border-radius: 5px;
    }
}

tbody {
    th {
        span {
            height: 60px;
        }
    }
}
