.horario {
	.container_tabla {
		overflow: auto;
	}

	.tabla_horario {
		width: 1140px;
		table-layout: fixed;
		border-spacing: 10px;
		border-collapse: separate;
	}

	.contenido {
		overflow: auto;
		@include caja(130px, 60px);
	}

	.contenido::-webkit-scrollbar {
		display: none;
	}

	.extremos_tabla {
		@include estilo(#959e77, $secundario)
	}

	.materia {
		@include estilo($opcion1, $b-opcion1)
	}

	tr:nth-child(even) {
		display: none;
	}
}

@media (max-width: 550px) {
	.horario {
		.tabla_horario {
			font-size: 0.8rem;
			width: 1010px;
		}
		.contenido {
			@include caja(110px, 40px);
		}
	}
}