//Estilos para el nav ampliado tanto para mobile como desktop
.nav_completo {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    min-width: 200px;
    width: auto;
    max-width: 700px;
    height: 100vh;

    background-color: $secundario;

    a:first-child {
        font-size: 2rem;
    }

    a {
        @include texto_normal(1rem);
        margin-left: 12px;
        @include bloque(80%, auto, 10px, $secundario, $secundario, 5px);
        transition: all 0.3s ease-in-out;
    }

    i {
        margin-right: 8px;
    }

    // Ahora con Pseudo-clases
    .unclicked:hover {
        background-color: $primario;
        color: $secundario;
        border: 1px solid $secundario;
        transition: all 0.3s ease-in-out;
    }

    .unclicked:active {
        color: white;
        border: 1px solid white;
    }
}

// Estilos aplicados al elemento seleccionado
.clicked {
    background-color: $b-opcion3;
    color: $primario;
    border: 1px solid $primario;
}

// Estilos para el nav reducido para desktop
.nav_desktop {
    @extend .nav_completo;
    min-width: 60px;

    a {
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
    }
}

// Estilos para el nav reducido para mobile
.nav_mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 50px;
    padding: 5px 20px;

    background-color: $secundario;

    a {
        @include texto_normal(1.4rem);
        cursor: pointer;
    }
}

@media (max-width: 425px) {
    .nav_desktop {
        display: none;
    }
}

@media (min-width: 426px) {
    .nav_mobile {
        display: none;
    }
}
