.container_pensum {
    @include seccion(10px);

    .container_semestres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        overflow-x: auto;

        padding: 10px 12px;
        width: 100%;
        max-width: 1000px;
    }

    .container_materias {
        display: flex;
        flex-direction: column;
        gap: 10px;

        max-width: 200px;
        width: 100%;
    }
}

.materia {
    @include bloque(100%, auto, 5px, 5px);
    max-height: 50px;
}

.materia_opcion1 {
    @include bloque_decorado($opcion1, $b-opcion1);
}

.materia_opcion2 {
    @include bloque_decorado($opcion2, $b-opcion2);
}

.materia_opcion3 {
    @include bloque_decorado($opcion3, $b-opcion3);
}

.materia_opcion4 {
    @include bloque_decorado($opcion4, $b-opcion4);
}