.container_pensum {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: auto;

    .container_semestres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        overflow-x: auto;

        padding: 10px 12px;
        width: 100%;
        max-width: 1000px;
    }

    .container_materias {
        display: flex;
        flex-direction: column;
        gap: 10px;

        max-width: 500px;
        width: 100%;
    }
}

.materia_opcion1 {
    @include bloque(100%, auto, 5px, $opcion1, $b-opcion1, 5px);
}

.materia_opcion2 {
    @include bloque(100%, auto, 5px, $opcion2, $b-opcion2, 5px);
}

.materia_opcion3 {
    @include bloque(100%, auto, 5px, $opcion3, $b-opcion3, 5px);
}

.materia_opcion4 {
    @include bloque(100%, auto, 5px, $opcion4, $b-opcion4, 5px);
}