.container_pensum {
	display: flex;
	flex-direction: row;
	gap: 10px;

	width: 1140px;
	margin: 10px;
	overflow: auto;

	button {
		overflow: auto;
	}

	button::-webkit-scrollbar {
		display: none;
	}
}

.semestre {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.materia_opcion1 {
	@include caja(100px, 60px);
	@include estilo($opcion1, $b-opcion1);
}

.materia_opcion2 {
	@include caja(100px, 60px); 
	@include estilo($opcion2, $b-opcion2);
}

.materia_opcion3 {
	@include caja(100px, 60px); 
	@include estilo($opcion3, $b-opcion3);
}

.materia_opcion4 {
	@include caja(100px, 60px); 
	@include estilo($opcion4, $b-opcion4);
}

.btn_container {
	display: flex;
	justify-content: center;
}

@media (max-width: 550px) {
	.container_pensum {
		font-size: 0.8rem;
	}

	.btn {
		padding: 4px;
		font-size: 0.9rem;
	}

	.materia_opcion1 {
		@include caja(70px, 40px);
	}

	.materia_opcion2 {
		@include caja(70px, 40px); 
	}

	.materia_opcion3 {
		@include caja(70px, 40px); 
	}

	.materia_opcion4 {
		@include caja(70px, 40px); 
	}
}