body {
	margin: 0;
	font-family: "Inconsolata", monospace;
	color: #414833;
}
main {
    display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	height: 100vh;

	background-image: linear-gradient(
		to right bottom,
		#a4ac86,
		#8a9270,
		#70785b,
		#586047,
		#414833
	);
}

fieldset {
    border: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
    padding: 20px;
    height: auto;

    background-color: #a4ac86;
	border: 2px solid #414833;
	border-radius: 10px;

    font-weight: 500;
}

.contenedor_general {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.contenedor_mediano {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contenedor_pequeño {
    display: flex;
    flex-direction: row;
}

.input {
    width: 250px;
    height: 20px;
    background-color: #8a9270;
    border: 0.5px solid #586047;
}

.input:focus-visible {
    outline: 1.5px solid #586047;
}

.espacios_especiales {
    width: 275px;
    height: 23px;
    background-color: #8a9270;
    border: 0.5px solid #586047;
}

.espacios_especiales:focus-visible {
    outline: 1.5px solid #586047;
}

.contenedor_input {
    display: flex;
}

.input:invalid + span:after {
    content: "✖";
    padding-left: 8px;
}

.input:valid + span:after {
    content: "✓";
    padding-left: 8px;
}

.contenedor_colores input{
    display: none;
}

.color {
    display: inline-block;
    width: 25px;
    height: 25px;

    border: 0.5px solid #414833;
	border-radius: 5px;
}

.color_1 {
    background-color: #B6AD90;
}

.color_2 {
    background-color: #936639;
}

.color_3 {
    background-color: #656D4A;
}

.color_4 {
    background-color: #A4AC86;
}

.color:hover {
    cursor: pointer;
}

.input_color:checked + .color {
    border: 2px #414833 solid;
}

.contenedor_botones {
    display: flex;
    gap: 30px;

    margin: 20px;
}

button {
    width: 120px;
    padding: 6px;
    border-radius: 8px;
    border: #414833 1px solid;
    background-color: #818b60;
    font-family: "Inconsolata", monospace;
    font-size: 0.9rem;
}

button:hover {
    cursor: pointer;
    background-color: #9faa82;
}

.btn_select_remove:hover{
    background-color: rgb(161, 76, 76);
    box-shadow: 1px 1px 1px 0 ;
}
@media (max-width: 700px) {
    .contenedor_general {
        flex-direction: column;
    }
}