dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #4f504594;
}

dialog:modal{
    position: absolute;
    left: 35%;
    right: 35%;
    
    inset-block-start: 30%;
    inset-block-end: 30%;
    max-width: calc(100% - 6px);
    max-height: calc((100% - 6px) - 2em);

    user-select: text;
    visibility: visible;
    overflow: hidden;
    border: 1px solid #656D4A;
    box-shadow: 2px 3px 3px #656D4A;

}

.dialog_modal {
	margin: 0;
	padding: 0;
	background: #a4ac86;
}

.modal_nav {
	display: inline-block;
}

.modal_titulo{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;

	color: aliceblue;
	font-size: x-large;
	font-weight: 525;

	background: #656d4a;
	padding: 8px;
}

.btn_cerrar_modal {
	border: none;
	background: none;
	margin-right: 3px;
	color: #333d29;
	outline: #656d4a;
}

.btn_cerrar_modal:hover {
	color: aliceblue;
}

.modal_body {
	padding: 15px 50px;
}

.container_inputs_materia_horario,
.container_input_dia_horario,
.container_input_hora_horario {
    padding: 10px;
	display: flex;
	font-size: large;
	justify-content: space-between;
}

.input_modal {
	height: 1.5rem;
	margin-left: 1.1rem;
	border-radius: 5px;
	border: solid 0.1px #656d4a;

	font-family: "Inconsolata", monospace;
	outline: #656d4a;
	background-color: #e8ead78c;
}

.input_bloqueado {
	cursor: not-allowed;
	background-color: #878a6dd4;
	box-shadow: inset 0 1px 1px #656d4a;
}

.input_modal:hover{
    border-radius: 5px;
    border: solid 1px #656D4A;
    box-shadow: 1px 1px 1px #73765d ;
}

.input_modal:active {
	border-radius: 4px;
	background-color: #656d4a;
	border: solid 0.1px #656d4a;
}

.input_submit {
    gap: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	margin: 10px 0;
}

.container_input_submit_horario {
	display: flex;
	margin-top: 0.5rem;
	align-items: center;
	justify-content: center;
}

.input_submit {
	width: 90%;
	height: 2rem;
	border: 1px solid #656d4a;
}

.input_submit:hover {
	color: aliceblue;
	background: #656d4a;
	border: solid 1px #656d4a;
	box-shadow: 2px 2px 2px #73765d;
}
