* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c2c5aa), color-stop(#bdc2a2), color-stop(#b8be9b), color-stop(#b3bb93), to(#aeb88c));
  background-image: linear-gradient(to right bottom, #c2c5aa, #bdc2a2, #b8be9b, #b3bb93, #aeb88c);
}

.invisible {
  display: none;
}

.nav_completo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 200px;
  width: auto;
  max-width: 700px;
  height: 100vh;
  background-color: #656d4a;
}
.nav_completo a:first-child {
  font-size: 2rem;
}
.nav_completo a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 12px;
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: #656d4a;
  border: 1px solid #656d4a;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav_completo i {
  margin-right: 8px;
}
.nav_completo .unclicked:hover {
  background-color: #c2c5aa;
  color: #656d4a;
  border: 1px solid #656d4a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav_completo .unclicked:active {
  color: white;
  border: 1px solid white;
}

.clicked {
  background-color: #333d29;
  color: #c2c5aa;
  border: 1px solid #c2c5aa;
}