* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  background-color: #333d29;
}

body {
  font-family: "Inconsolata", monospace;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c2c5aa), color-stop(#bdc2a2), color-stop(#b8be9b), color-stop(#b3bb93), to(#aeb88c));
  background-image: linear-gradient(to right bottom, #c2c5aa, #bdc2a2, #b8be9b, #b3bb93, #aeb88c);
}

h2 {
  margin: 0;
}

.titulo_seccion {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  padding: 30px 0;
  letter-spacing: 5px;
  font-family: "Concert One", cursive;
  color: #333d29;
}

.btn {
  width: 200px;
  height: auto;
  padding: 12px;
  border-radius: 8px;
  overflow: auto;
  background-color: #656d4a;
  border: 1px solid #c2c5aa;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  overflow: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  margin: 8px;
}
.btn i {
  margin-right: 8px;
}
.btn:hover {
  background-color: #c2c5aa;
  color: #656d4a;
  border: 1px solid #656d4a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: 800;
}
.btn:active {
  color: white;
  border: 1px solid white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav_completo, .nav_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  min-height: 100%;
  height: auto;
  border-right: 1.5px solid #333d29;
  background-color: #656d4a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav_completo a:first-child, .nav_desktop a:first-child {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.nav_completo a, .nav_desktop a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  width: 80%;
  height: auto;
  padding: 8px;
  border-radius: 5px;
  overflow: auto;
  background-color: #656d4a;
  border: 1px solid #656d4a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav_completo .unclicked:hover, .nav_desktop .unclicked:hover {
  background-color: #c2c5aa;
  color: #656d4a;
  border: 1px solid #656d4a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  word-spacing: 12px;
}
.nav_completo .unclicked:active, .nav_desktop .unclicked:active {
  color: white;
  border: 1px solid white;
}

.nav_desktop {
  position: absolute;
  width: 80px;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.nav_desktop:hover {
  width: 280px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.nav_inner_desktop {
  position: absolute;
  width: 280px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_inner_desktop i {
  margin-right: 18px;
}

.nav_mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 50px;
  padding: 5px 20px;
  background-color: #656d4a;
}
.nav_mobile a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
}

.nav-fade {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 425px) {
  .nav_desktop {
    display: none;
  }
}
@media (min-width: 426px) {
  .nav_mobile {
    display: none;
  }
}
.container_pensum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
}
.container_pensum .container_semestres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 12px;
  width: 100%;
  max-width: 1000px;
}
.container_pensum .container_materias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 200px;
  width: 100%;
}

.materia {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  overflow: auto;
  max-height: 50px;
}

.materia_opcion1 {
  background-color: #b6ad90;
  border: 1px solid #827c69;
}

.materia_opcion2 {
  background-color: #936639;
  border: 1px solid #582f0e;
}

.materia_opcion3 {
  background-color: #656d4a;
  border: 1px solid #333d29;
}

.materia_opcion4 {
  background-color: #a4ac86;
  border: 1px solid #656d4a;
}

.container_horario .container_tabla {
  display: -ms-grid;
  display: grid;
  place-content: start;
  overflow-x: auto;
  max-width: 100vw;
  padding: 20px;
}
.container_horario .tabla_horario {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 800px;
  width: 100%;
  max-width: 80vw;
  padding: 5px;
  border: 0.5px solid #656d4a;
}
.container_horario .tabla_horario thead {
  background-color: #656d4a;
  border: 0.5 solid #333d29;
  color: white;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}
.container_horario .tabla_horario tbody {
  background-color: #c2c5aa;
  border: 0.5 solid #333d29;
}
.container_horario .tabla_horario th {
  padding: 12px;
}
.container_horario .tabla_horario tr {
  padding: 10px;
  border-bottom: 0.5px solid #656d4a;
}
.container_horario .tabla_horario tr:nth-child(even) {
  display: none;
}

@media (min-width: 450px) {
  .container_horario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container_creditos .container_tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  overflow: auto;
  padding-bottom: 40px;
}
.container_creditos .tabla_creditos {
  table-layout: fixed;
  border-spacing: 10px;
  border-collapse: separate;
  min-width: 700px;
  width: 100%;
  max-width: 75vw;
  padding: 5px;
}
.container_creditos .tabla_creditos th {
  background-color: #656d4a;
  border: 0.5 solid #333d29;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
  padding: 12px;
  min-width: 100px;
  border-radius: 10px;
  font-size: 95%;
  overflow: auto;
}
.container_creditos .tabla_creditos tbody {
  background-color: #c2c5aa;
  border: 0.5 solid #333d29;
}
.container_creditos .tabla_creditos td {
  border-radius: 10px;
}
.container_creditos .tabla_creditos tr {
  padding: 10px;
  border-bottom: 0.5px solid #656d4a;
  border-radius: 10px;
}
.container_creditos .tabla_creditos i {
  margin-right: 8px;
}

@media (min-width: 450px) {
  .container_creditos .container_tabla {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}
.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
  max-width: 90%;
  width: auto;
  margin: 0 auto;
}

.contenedor_botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.invisible {
  display: none;
}

@media (max-width: 425px) {
  main {
    padding-top: 70px;
  }
}
@media (min-width: 426px) {
  main {
    padding-left: 80px;
  }
}