$primario: #c2c5aa;
$secundario: #656d4a;
$terciario: #333d29;
$font-content: "Inconsolata", monospace;

$opcion1: #b6ad90;
$b-opcion1: #827c69;
$opcion2: #936639;
$b-opcion2: #582f0e;
$opcion3: #656d4a;
$b-opcion3: #333d29;
$opcion4: #a4ac86;
$b-opcion4: #656d4a;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: $terciario;
}

body {
    font-family: $font-content;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #c2c5aa, #bdc2a2, #b8be9b, #b3bb93, #aeb88c);
}

.titulo_seccion {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 10px;
    letter-spacing: 5px;
    font-family: 'Concert One', cursive;
}

@mixin texto_normal($w) {
    color: black;
    text-decoration: none;
    font-size: $w;
}

@mixin bloque($w, $h, $p, $bac, $bor, $r){
    width: $w;
    height: $h;
    padding: $p;

    background-color: $bac;
    border: 1px solid $bor;
    border-radius: $r;
}

@import "./nav";
@import "./pensum";

// Por temas del concepto de cascada de css, se deja aquí, no la muevas
.invisible {
    display: none;
}

// Detalles para mobile
@media (max-width: 425px) {
    main {
        padding-top: 70px;
    }
}