* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c2c5aa), color-stop(#bdc2a2), color-stop(#b8be9b), color-stop(#b3bb93), to(#aeb88c));
  background-image: linear-gradient(to right bottom, #c2c5aa, #bdc2a2, #b8be9b, #b3bb93, #aeb88c);
}

.nav_completo, .nav_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  background-color: #656d4a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav_completo a:first-child, .nav_desktop a:first-child {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.nav_completo a, .nav_desktop a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  width: 80%;
  height: auto;
  padding: 8px;
  background-color: #656d4a;
  border: 1px solid #656d4a;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav_completo .unclicked:hover, .nav_desktop .unclicked:hover {
  background-color: #c2c5aa;
  color: #656d4a;
  border: 1px solid #656d4a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  word-spacing: 12px;
}
.nav_completo .unclicked:active, .nav_desktop .unclicked:active {
  color: white;
  border: 1px solid white;
}

.nav_desktop {
  position: absolute;
  width: 79px;
  overflow: hidden;
}

.nav_inner_desktop {
  position: absolute;
  width: 280px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_inner_desktop i {
  margin-right: 18px;
}

.nav_mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 50px;
  padding: 5px 20px;
  background-color: #656d4a;
}
.nav_mobile a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}

@media (max-width: 425px) {
  .nav_desktop {
    display: none;
  }
}
@media (min-width: 426px) {
  .nav_mobile {
    display: none;
  }
}
.invisible {
  display: none;
}