.container__horario {
    overflow-y: scroll;
    @include centrar; 
}

.hora {
    left: 0;
    margin: 5px;
    padding: 8px;

    position: sticky;
    border-radius: 5px;
    text-align: center;
    background-color: $nav;
}