@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

:root {
    --background: #C2C5AA; 
    --calculo: #936639; 
    --borde-calculo: #582F0E; 
    --programacion: #656D4A; 
    --borde-programacion: #333D29; 
    --electronica: #B6AD90; 
    --borde-electronica: #827C69; 
    --otras: #A4AC86; 
    --borde-otras: #656D4A; 
    --nav: #656D4A; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Inconsolata', monospace;
}

.nav {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--nav);
}

.nav a {
    color: black;
}

.titulo_seccion {
    margin: 8px;

    text-align: center;
    font-size: 3rem;
}

.horario {
    overflow-y: scroll;
}