<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css"
		/>
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/modal.css" />
		<link rel="icon" type="image/png" href="../styles/imgs/icono.png" />
		<title>Agregando materia</title>
	</head>
	<body>
		<main>
			<form action="">
				<h1>Agregando materia</h1>
				<p>Ingrese los datos correspondientes</p>

				<section>
					<label for="name">Nombre de la materia</label>
					<input type="text" name="data-add-course-name" id="name" data-add-course-name required />

					<label for="htd">Horas de trabajo directo</label>
					<input type="number" name="data-add-course-htd" id="htd" data-add-course-htd required />

					<label for="hta">Horas de trabajo autonomo</label>
					<input type="number" name="data-add-course-hta" id="hta" data-add-course-hta required />

					<label for="htc">Horas de trabajo cooperativo</label>
					<input type="number" name="data-add-course-htc" id="htc" data-add-course-htc required />

					<label for="requerimientos">Espacios que necesita</label>
					<input list="requerimientos"/>
					<datalist id="requerimientos"> 
						<option value="Calculo diferencial">Calculo diferencial</option>
						<option value="Fisica I">Fisica I: Mecanica newtoniana</option>
					</datalist>
				</section>

				<section>
					<label for="type">Tipo</label>
					<input type="select" name="data-add-course-type" id="type" data-add-course-type required />

					<label for="credits">Cantidad de creditos</label>
					<input type="number" name="data-add-course-credits" id="credits" data-add-course-credits required/>

					<label for="semester">Semestre asignado</label>
					<input type="number" name="data-add-course-semester" id="semester" data-add-course-semester required />

					<label for="">Color</label>
					<fieldset class="contenedor_colores">
						<input type="radio" name="color" id="1" value="B6AD90" data-add-course-color>
						<label for="1"></label>
						<input type="radio" name="color" id="2" value="936639" data-add-course-color>
						<label for="2"></label>
						<input type="radio" name="color" id="3" value="656D4A" data-add-course-color>
						<label for="3"></label>
						<input type="radio" name="color" id="4" value="A4AC86" data-add-course-color>
						<label for="4"></label>
					</fieldset>

					<label for="beneficios">Espacios que desbloquea</label>
					<input list="beneficios"/>
					<datalist id="beneficios"> 
						<option value="Calculo diferencial">Calculo diferencial</option>
						<option value="Fisica I">Fisica I: Mecanica newtoniana</option>
					</datalist>
				</section>

				<button>
					<span>Guardar</span>
					<input type="submit">
					<i class="bi bi-check-circle"></i>
				</button>
				<button>
					<span>Descartar</span>
					<i class="bi bi-x-circle"></i>
				</button>
			</form>
		</main>
		<script src="../lib/Sweetalert2/sweetalert2.js"></script>
	</body>
</html>
