<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregando materia</title>
</head>
<body>
    <main>
        <form action="">
            <h1>Agregando materia</h1>
            <p>Ingrese los datos correspondientes</p>

            <div>
                <label for="name">Nombre de la materia</label>
                <input type="text" name="data-add-course-name" id="name" data-add-course-name>

                <label for="htd">Horas de trabajo directo</label>
                <input type="number" name="data-add-course-htd" id="htd">

                <label for="hta">Horas de trabajo autonomo</label>
                <input type="number" name="data-add-course-htd" id="hta">

                <label for="htc">Horas de trabajo cooperativo</label>
                <input type="number" name="data-add-course-htd" id="htc">

                <label for="requerimientos"></label>
                <!--Agregar el data list y las opciones vienen del servidor-->

            </div>

            <div>
                <label for="tipe">Tipo</label>
                <input type="select" name="data-add-course-tipe" id="tipe">

                <label for="credits">Cantidad de creditos</label>
                <input type="number" name="data-add-course-credits" id="credits">

                <label for="semester"></label>
                <input type="number" name="data-add-course-semester" id="semester">

                <label for="">Color</label>
                <!--Agregar input con colores -->
            </div>
        </form>
    </main>
</body>
</html>