<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../styles/modal.css">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <main>
            <form method="post" enctype="application/x-www-form-urlencoded"  action="/login"  class="form" data-form-login>
                <div class="container">
                    <input data-input-login-name  type="text" name="name" id="name" class="input_modal">
                </div>
                <div class="container">
                    <input data-input-login-password  type="password" name="password" id="password" class="input_modal">
                </div>
                <input data-form-login-btn type="submit" value="Enviar" class="input_submit">
            </form>
        </main>
    </body>
</html>